<h1 class="display-h1"> Because you're <%= @mood.name %> try these recipes </h1>

<% @recipes.each do |recipe| %>

	<div>
		<ul class="display-ul">
			<li class="display-li"> <img class="display-image" src="<%= recipe.image_url %>"> </li>
			<div class="info-container">
				<li class="display-li"> <%= recipe.name %> </li>
				<li class="display-li"> <a href="<%= recipe.recipe_url %>">Go to Recipe </a></li>

				<form action="/likes" method="post">
				  <input type="hidden" name="recipe_id" value="<%= recipe.id %>">
				  <input type="hidden" name="recipe_url" value="<%= recipe.recipe_url %>">
				  <input type="hidden" name="image_url" value="<%= recipe.image_url %>">
				  <input type="hidden" name="recipe_name" value="<%= recipe.name %>">
				  <input type="hidden" name="color" value="<%= @color %>">
					<li class="display-li"> <button>Like</button> <%= recipe.likes.count %> </li>
				</form>
			</div>
		</ul>
	</div>

<% end %> 
