<h1 class="fav-h1"> <%= current_user.name %>'s Favourites</h1>

<% @likes.each do |like| %>

	<ul class="fav-ul">
		<li class="fav-li"> <%= like.recipe_name %> </li>
		<li class="fav-li"> <img class="fav-image" src="<%= like.image_url %>"> </li>
		<li class="fav-li"> <a href="<%= like.recipe_url %>">Go to Recipe </a> </li>
	</ul>

		<% if session[:user_id] %>
			<div class="delete-form">
				<form action="/likes/<%= like.id %>" method = "post" >
					<input type ="hidden" name ="_method" value ="DELETE"> 
					<button class="delete" type="submit">DELETE</button>
				</form>
			</div>
	  <%end%>

<% end %>

